<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Hotel
        </ion-title>

        <ion-buttons slot="end" *ngIf="connected">
            <ion-button color="light" (click)="logout()">
                <ion-icon name="log-out" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <div>
        <img src="../../assets/company_logo.jpg"
             height="113"
             width="180"
             alt="No Image"/>
    </div>
    <ion-card>
        <ion-card-content>
            <ion-item class="border-box">
                <ion-label>Select Protocol</ion-label>
                <ion-select [(ngModel)]="selectedProtocol" name="dbNames">
                    <ion-select-option *ngFor="let item of listForProtocol"
                                       value="{{  item }}"
                    >{{ item  }}</ion-select-option>

                </ion-select>
            </ion-item>
            <ion-item class="border-box">
                <ion-label>Odoo Url</ion-label>
                <ion-input [(ngModel)]="odooUrl" type="url" name="odooUrl"></ion-input>
            </ion-item>

            <ion-item class="flex" lines="none">

                <ion-button shape="round" (click)="VerifierUrl()" slot="end">
                    <ion-icon slot="start" name="key-outline"></ion-icon>
                    Connexion
                </ion-button>
            </ion-item>
            <div [hidden]="!perfectUrl">

            </div>

        </ion-card-content>
    </ion-card>

</ion-content>
